.wrapper {
    position: relative;
    width: 200px;
}

.container {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    /*margin-top: 30px;*/

}

.container input[type="range"] {
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.sliderTrack {
    width: 100%;
    height: 8px;
    background-color: #d9d9d9;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3e63ff;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
}

.container input[type="range"]:active::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid #174bff;
}