.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
}
.containerOut {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    width: 400px;
}
.bubble:hover {
    box-shadow: 0px 0px 0px 1px #ffffff;
}

.incoming {
    width: 70%;
    height: 100%;
    padding: 10px 40px;
}
.outcoming {
    width: 70%;
    height: 100%;
}

.bubble {
    display: flex;
    color: white;
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    border-radius: 20px;
    background: rgba(98, 97, 97, 0.7);
    justify-content: space-between;
}

.avatar img {
    height: 70px;
    width: 70px;
    margin: 0px -30px 0px 15px;
    border-radius: 50%;
}
.name {
    font-size: 14px;
    color: #9b9fff;
    padding: 5px;
}

.message {
    padding: 5px;
}

.time {
    font-size: 12px;
    align-self: end;
}