.blue {
    border-bottom: 5px solid blue;
}

.column {
    width: 200px;
    height: 280px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 2px #000000;
}

.testSpanError {
    color: blue;
}